DB_USERNAME=hetic
DB_PASSWORD=password
DB_HOST=mongo:27017 #INFO: If you launch through CLI, replace "mongo" by "localhost"

# S3 Configuration
S3_REGION=eu-west-3
S3_ENDPOINT=http://minio:9000

#CORS Config
FRONTEND_URL=http://localhost:3000